<!--Bicycle Thefts
COMP247 (sec.003) 
Group 03 
Sayed Fayaz (3011099990) 
Yoo Sun Song 301091906-->

<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="text-dark bg-light" >
    <a href="/"><font color="brown"><h1 class="text-xl-left"> Bycycle Theft <h1></font></a>
        <h2 class="text-xl-left"> Group3 <h1>
    {% block content %}
    {% endblock %}


</body>
</html>